body {
    cursor: none;
}

.cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    background: url('/Images/moon.png') no-repeat center center;
    background-size: contain;
    pointer-events: none;
    z-index: 9999; 
    transform: translate(-50%, -50%);
    transition:
        transform 0.2s ease-out,
        width 0.2s ease-out,
        height 0.2s ease-out;
    mix-blend-mode: difference;
    display: block;
}

@media screen and (max-width: 768px) {
    body {
        cursor: none;
    }

    .cursor {
        display: none;
    }
}
